.desc{
    margin: 30px;
}

.pub{
    margin:50px;

}

.article{
    margin-top: 15px;
}

.btn-site{
    float:right;
    margin: 10px;
}

.lab{
    margin-top: 10px;
}



.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}