<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文章详情</title>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/myuse.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/myuse.css">
</head>
<body>
<!--顶部导航栏-->
<div th:include="navigation :: nav"></div>

<div class="row">
    <span class="col-md-8 pub">
        <h2><span class="glyphicon glyphicon-star" aria-hidden="true" th:text="${article.title}"></span></h2>
        <span class="text-desc"><span th:text="${article.user.name}"></span>
                        <span th:text="${article.viewAccount}"></span> 次浏览 •
                        <span th:text="${#dates.format(article.gmtCreate,'yyyy-MM-dd:HH:mm')}"></span></span>
        <hr>
        <div><h3>文章内容</h3>
            <span th:text="${article.content}"></span>
        </div>
        <span th:each="tag : ${article.tag.split(',')}">
            <span class="label label-info" th:text="${tag}"></span>
        </span>
        <hr>
        <!--展示用户的回复-->
        <div class="media" th:each="comment : ${commentShowDTOS}">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" style="width: 45px" th:src="${comment.user.avatar}"  alt="#">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading" th:text="${comment.user.name}"></h4>
                <span th:text="${comment.content}"></span><br>
                <span class="text-desc" th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd:HH:mm')}" style="float: left"></span>
            </div>
        </div>


        <!--用户登录才有回复-->
        <div th:if="${session.user != null}">
            <label><h3>回复</h3></label>
            <input type="hidden" id="article_id" th:value="${article.id}">
            <textarea name="content" class="form-control article" rows="10" id="content"></textarea>
            <div class="row">
                <button type="submit" class="btn btn-success btn-site col-md-3 col-md-offset-3" onclick="post()">提交</button>
            </div>
        </div>
        <!--用户没有登录就列出一个提示框-->
        <div class="alert alert-danger" role="alert" th:if="${session.user == null}">
            请点击<a href="https://github.com/login/oauth/authorize?client_id=ab0c39aa32fa1a8aa1a5&redirect_uri=http://localhost:8080/callback&state=1">登录</a>
        </div>
    </div>



        <!--注意事项的说明部分-->
        <div class="col-md-2 desc" >
            <div>
                <h3>文章作者</h3>
                <hr>
                <!--介绍文章作者-->
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" style="width: 45px" th:src="${article.user.avatar}"  alt="#">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" th:text="${article.user.name}"></h4>
                    </div>
                </div>
            </div>
        </div>
        <!--提供相关问题的选择-->
</div>
</body>
</html>